/* =========== setting variables ============ */
:root{
    --header-color: #FFF;
    --card-background: #FFF;
    --gray-font: #8B8B8B;
    --plus-button-color: #3C3C3C;
    --plus-button-outline: #DEDEDE;
    --plus-button-hover: #efefef;
}

/* =========== card position and design ============ */
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: black;
    height: 100%;
}

main{
    position: relative;
}

.padding{
    padding: 2.5em;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 60%;
    min-width: 400px;
    max-width: 550px;
    min-height: 90%;
    max-height: 100%;
    background-color: var(--card-background);
}

/* =========== header component ============ */
header{
    box-sizing: border-box;
    background-image: url("images/bg imgBurger.png");
    background-size: cover;
    color: var(--header-color);
}

h1, h4 {
    margin: 0;
    font-weight: 300;
}

h1{
    font-size: 1.8em;
}

h4{
    font-size: 0.8em;
}

/* =========== main component ============ */
.menu-item{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-bottom: 1px solid var(--plus-button-outline);
    align-items: center;
}

.menu-item > p{
    font-size: 4em;
    margin: 0;
    opacity: 0.72;
}

.menu-item-text{
    padding: 0 0 0 1em;
    margin: 2em 0;
}

.menu-item-text > *{
    margin: 0;
}

.menu-item-text p{
    font-size: 0.8em;
    color: var(--gray-font);
    margin: 0.4em 0;
}

/* =========== plus button ============ */
.menu-item button{
    cursor: pointer;
    justify-self: end;
    background-color: var(--card-background);
    border: 1px solid var(--plus-button-outline);
    padding: 6px 13px 7px 13px;
    border-radius: 50%;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    color: var(--plus-button-color);
}

.menu-item button:hover{
    background-color: var(--plus-button-hover);
    transition: .3s;
}

/* =========== Order summary ============ */
.order-summary h2{
    margin: 1.5em 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

.order-summary h3, h4, h6{
    margin: 0;
}

.flex{
    display: flex;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.item-container h4{
    font-size: 0.9em;
    font-weight: 600;
}

.item-container p{
    font-size: 0.8em;
    font-weight: 300;
    margin: 0.3em 0;
}

.item-container .remove{
    font-size: 0.8em;
    color: var(--gray-font);
    margin: 0 10px;
    cursor: pointer;
}

hr{
    border: none;
    height: 2px;
    background-color: var(--plus-button-outline);
}

/* =========== complete order button ============ */
.price-summary button {
    cursor: pointer;
    width: 100%;
    background: #16DB99;
    box-shadow: 0px 1px 4px 1px #14d5956e;
    border-radius: 6px;
    border: none;
    padding: 1em 0;
    color: var(--card-background);
    font-weight: 600;
    font-size: 1em;
    margin-top: 1.6em;
}

/* =========== card payment info ============ */
.payment-info{
    position: absolute;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--card-background);
    width: 80%;
    filter: drop-shadow(0.45em 0.45em 15em rgba(0, 0, 0, 0.5));
    border-radius: 0.5em;
    padding: 2em;
}

/* =========== hidden ============ */
.hidden{
    display: none;
}
